.mainContainer {
    letter-spacing: 0.03em;
    background-image: url("../public/static/images/background.webp");
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
}

.landingContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 0 1fr 2fr 0;
    grid-template-rows: 3fr repeat(3, 0) 1fr;
}

.landingFooter { grid-area: 5 / 1 / 6 / 6; }
.sidenav { grid-area: 1 / 1 / 5 / 3; }
.logOutput { grid-area: 1 / 4 / 5 / 6; }

.centerContent {
    grid-area: 1 / 1 / 5 / 6;

    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: center;
    margin-top: 7.9em;
    text-align: center;
}

.information {
    margin-top: 7.5%;
}

.jobSpec {
    margin-bottom: .5em;

    font-weight: 300;
    font-size: 1.5rem;

    color: #4C6595;
}

.name {
    font-weight: 500;
    font-size: 3rem;

    color: #BCD3FF;
}

@media (max-width: 425px) {
    .name {
        font-size: 2.25rem;
    }

    .jobSpec {
        font-size: 1.125rem;
        color: #4C6595;
    }
}

@media (max-width: 190px) {
    .name {
        font-size: 1.5rem;
    }

    .jobSpec {
        font-size: .75rem;
        color: #4C6595;
    }
}