.mainContainer {
    letter-spacing: 0.03em;
    background-image: url("../public/static/images/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.landingContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 0 1fr 2fr 0;
    grid-template-rows: 3fr repeat(3, 0) 1fr;
}

.landingFooter { grid-area: 5 / 1 / 6 / 6; }
.sidenav { grid-area: 1 / 1 / 5 / 3; }
.logOutput { grid-area: 1 / 4 / 5 / 6; }

.centerContent {
    grid-area: 1 / 3 / 5 / 4;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 7.9rem;
    text-align: center;
}

.information {
    margin-top: 6.25rem;
}

.jobSpec {
    margin-bottom: .5rem;

    font-weight: 300;
    font-size: 24px;

    color: #4C6595;
}

.name {
    font-weight: 500;
    font-size: 48px;

    color: #BCD3FF;
}

@keyframes a {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}
.loadingMarker .loadingMarkerSettings {
    animation: a 1s linear infinite;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    box-shadow: 0 0.15625rem 0 0 #BCD3FF;
    transform-origin: 3.125rem 3.203125rem;
}

.loadingMarker {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(0) scale(1);
}
